@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-ExtraBold.eot");
  src: local("../fonts/Gilroy ExtraBold"), local("Gilroy-ExtraBold"), url("../fonts/Gilroy-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-ExtraBold.woff") format("woff"), url("../fonts/Gilroy-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Heavy.eot");
  src: local("Gilroy Heavy"), local("Gilroy-Heavy"), url("../fonts/Gilroy-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Heavy.woff") format("woff"), url("../fonts/Gilroy-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-LightItalic.eot");
  src: local("Gilroy Light Italic"), local("Gilroy-LightItalic"), url("../fonts/Gilroy-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-LightItalic.woff") format("woff"), url("../fonts/Gilroy-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-ThinItalic.eot");
  src: local("Gilroy Thin Italic"), local("Gilroy-ThinItalic"), url("../fonts/Gilroy-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-ThinItalic.woff") format("woff"), url("../fonts/Gilroy-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-BlackItalic.eot");
  src: local("Gilroy Black Italic"), local("Gilroy-BlackItalic"), url("../fonts/Gilroy-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-BlackItalic.woff") format("woff"), url("../fonts/Gilroy-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-BoldItalic.eot");
  src: local("Gilroy Bold Italic"), local("Gilroy-BoldItalic"), url("../fonts/Gilroy-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-BoldItalic.woff") format("woff"), url("../fonts/Gilroy-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-SemiBold.eot");
  src: local("Gilroy SemiBold"), local("Gilroy-SemiBold"), url("../fonts/Gilroy-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-SemiBold.woff") format("woff"), url("../fonts/Gilroy-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-UltraLightItalic.eot");
  src: local("Gilroy UltraLight Italic"), local("Gilroy-UltraLightItalic"), url("../fonts/Gilroy-UltraLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-UltraLightItalic.woff") format("woff"), url("../fonts/Gilroy-UltraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-SemiBoldItalic.eot");
  src: local("Gilroy SemiBold Italic"), local("Gilroy-SemiBoldItalic"), url("../fonts/Gilroy-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-SemiBoldItalic.woff") format("woff"), url("../fonts/Gilroy-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Light.eot");
  src: local("Gilroy Light"), local("Gilroy-Light"), url("../fonts/Gilroy-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Light.woff") format("woff"), url("../fonts/Gilroy-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-MediumItalic.eot");
  src: local("Gilroy Medium Italic"), local("Gilroy-MediumItalic"), url("../fonts/Gilroy-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-MediumItalic.woff") format("woff"), url("../fonts/Gilroy-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-ExtraBoldItalic.eot");
  src: local("Gilroy ExtraBold Italic"), local("Gilroy-ExtraBoldItalic"), url("../fonts/Gilroy-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-ExtraBoldItalic.woff") format("woff"), url("../fonts/Gilroy-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.eot");
  src: local("Gilroy Regular"), local("Gilroy-Regular"), url("../fonts/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-HeavyItalic.eot");
  src: local("Gilroy Heavy Italic"), local("Gilroy-HeavyItalic"), url("../fonts/Gilroy-HeavyItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-HeavyItalic.woff") format("woff"), url("../fonts/Gilroy-HeavyItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Medium.eot");
  src: local("Gilroy Medium"), local("Gilroy-Medium"), url("../fonts/Gilroy-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-RegularItalic.eot");
  src: local("Gilroy Regular Italic"), local("Gilroy-RegularItalic"), url("../fonts/Gilroy-RegularItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-RegularItalic.woff") format("woff"), url("../fonts/Gilroy-RegularItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-UltraLight.eot");
  src: local("Gilroy UltraLight"), local("Gilroy-UltraLight"), url("../fonts/Gilroy-UltraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-UltraLight.woff") format("woff"), url("../fonts/Gilroy-UltraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.eot");
  src: local("Gilroy Bold"), local("Gilroy-Bold"), url("../fonts/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Thin.eot");
  src: local("Gilroy Thin"), local("Gilroy-Thin"), url("../fonts/Gilroy-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Thin.woff") format("woff"), url("../fonts/Gilroy-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Black.eot");
  src: local("Gilroy Black"), local("Gilroy-Black"), url("../fonts/Gilroy-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Black.woff") format("woff"), url("../fonts/Gilroy-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: #2D2D2D;
  display: inline-block;
}

body {
  position: relative;
  font-family: "Gilroy", sans-serif;
  color: #2D2D2D;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

body.no-scroll {
  overflow: hidden;
}

main {
  will-change: transform;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding-top: 100px;
}

[class*=__container] {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

h1 {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

h2 {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #292929;
}

h3 {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #292929;
  margin-bottom: 20px;
}

.header__languages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__languages a {
  text-transform: uppercase;
}

.header__languages a.active {
  color: #000000;
}

.header__languages span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 5px;
  height: 14px;
  width: 1px;
  background-color: #2D2D2D;
}

.header__mobile {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  left: 0;
  background: #ffffff;
  z-index: 1000;
  width: 100%;
  height: 100px;
  padding: 10px 15px;
}

.header__mobile--top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__mobile .header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__mobile .header__right .header__languages {
  margin-right: 10px;
}

.header__mobile .header__right .header__cart svg {
  margin-right: 0;
}

.header__mobile .header__main--bottom {
  font-size: 12px;
}

.header__phones--icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
}

.header__phones--icon span {
  rotate: 90deg;
  font-size: 18px;
}

.header__phones--list {
  display: none;
  position: absolute;
  top: 50px;
  right: 15px;
  z-index: 1000;
  display: none;
  min-width: 160px;
  padding: 5px;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.header__phones--list.show-phones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__phones--list a {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__phones--list a:not(:last-child) {
  margin-bottom: 5px;
}

.header__info {
  height: auto;
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  background-color: #EFEFEF;
  padding: 10px 20px;
}

.header__info--menu a {
  color: #878787;
  font-weight: 500;
}

.header__info--menu a:hover {
  color: #000000;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header__main {
  padding: 25px 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.header__main--bottom {
  text-align: center;
  margin-top: 5px;
}

.header__main--bottom p {
  color: #2D2D2D;
  font-weight: 300;
  text-transform: uppercase;
}

.header__main--bottom p span {
  color: #EDC867;
  font-weight: 700;
}

.header__left a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #878787;
}

.header__left a:hover {
  color: #EDC867;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header__left a svg {
  margin-right: 5px;
}

.header__right a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #878787;
}

.header__right a:hover {
  color: #EDC867;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header__right a svg {
  margin-right: 5px;
}

.header__user,
.header__cart {
  font-size: 16px;
  font-weight: 700;
  color: #2D2D2D !important;
}

.header__user:hover,
.header__cart:hover {
  color: #EDC867 !important;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header__menu {
  position: relative;
}

.header__menu ul li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
}

.header__menu ul li:not(:last-child) a {
  position: relative;
}

.header__menu ul li:not(:last-child) a::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 1px;
  background-color: #ffffff;
  opacity: 6%;
  right: 0;
  top: 0;
}

.header__menu ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  color: #ffffff;
  font-weight: 500;
  padding: 0 3px;
  text-align: center;
  font-size: 13px;
}

.header__menu ul li a:hover {
  color: #EDC867;
  background: rgba(255, 255, 255, 0.33);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header__menu > ul > li:hover .header__menu--overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.header__submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #ffffff;
  border-radius: 0 0 5px 5px;
  width: 100vw;
  max-width: 1200px;
  padding: 30px;
  z-index: 20;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header__submenu--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 25%;
}

.header__submenu--item:last-child {
  width: 65%;
}

.header__submenu--title {
  font-weight: 700;
  margin-bottom: 20px;
  text-align: left;
}

.header__submenu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: unset;
  margin: 0;
  height: auto;
  width: 100%;
}

.header__submenu ul li {
  margin-bottom: 15px;
}

.header__submenu ul li:not(:last-child) a {
  position: relative;
}

.header__submenu ul li:not(:last-child) a::after {
  display: none;
}

.header__submenu ul li a {
  display: block;
  text-decoration: none;
  color: #878787;
  text-align: left;
  padding: 0;
  height: unset;
}

.header__submenu ul li a:hover {
  background: unset;
}

.header__submenu--images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  width: 100% !important;
  height: auto !important;
}

.header__submenu--images li {
  width: 100%;
}

.header__submenu--images li:not(:last-child) {
  margin-right: 15px;
}

.header__submenu--images li:hover p {
  color: #EDC867;
}

.header__submenu--image {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 172px;
  border-radius: 5px;
}

.header__submenu--image p {
  position: absolute;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  left: 30px;
  bottom: 25px;
  font-size: 14px;
  text-align: center;
}

.header__desktop {
  display: none;
  background: #ffffff;
}

.header__burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__burger span {
  background-color: #292929;
  width: 40px;
  height: 2px;
}

.header__burger span:not(:last-child) {
  margin-bottom: 5px;
}

.header .mobile-menu,
.header .mobile-submenu {
  width: 100%;
  visibility: hidden;
  height: 0;
  opacity: 0;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  overflow-y: auto;
}

.header .mobile-submenu {
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
}

.header .mobile-menu {
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
}

.header .mobile-menu__header {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 25px 20px 40px;
}

.header .mobile-menu__header--top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.header .mobile-menu__header--top .header__logo {
  margin: auto;
}

.header .mobile-menu__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .mobile-menu__tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 5px;
  border-bottom: 1px solid #292929;
}

.header .mobile-menu__tab:not(:last-child) {
  margin-right: 30px;
}

.header .mobile-menu__tab.active {
  border-bottom: 1px solid #EDC867;
  color: #EDC867;
}

.header .mobile-menu__close {
  font-size: 40px;
  cursor: pointer;
}

.header .mobile-menu__list {
  display: none;
  visibility: hidden;
  list-style: none;
  opacity: 0;
  padding: 0 20px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.header .mobile-menu__list.active {
  display: block;
}

.header .mobile-menu__list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  margin-bottom: 20px;
}

.header .mobile-menu__list li span {
  font-size: 20px;
  font-weight: 500;
}

.header .mobile-menu__footer {
  visibility: hidden;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 20px;
  border-top: 1px solid #ddd;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.header .mobile-menu__footer .language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.header .mobile-menu__footer .language span {
  font-size: 20px;
  font-weight: 500;
}

.header .mobile-menu__footer a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
}

.header .mobile-menu__footer a:not(:last-child) {
  margin-bottom: 20px;
}

.header .mobile-menu__footer a img {
  width: 25px;
  margin-right: 5px;
}

.header .mobile-menu__footer a svg {
  margin-right: 5px;
}

.header .mobile-menu__footer .header__user {
  font-weight: 400;
}

.header .mobile-menu__footer p {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .mobile-menu__footer p img {
  width: 25px;
  margin-right: 5px;
}

.header .mobile-menu__footer p:not(:last-child) {
  margin-bottom: 10px;
}

.header .mobile-menu__footer .header__languages a {
  margin-bottom: 0;
}

.header .mobile-submenu {
  cursor: pointer;
}

.header .mobile-submenu__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 25px 20px 40px;
}

.header .mobile-submenu__header--top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.header .mobile-submenu__header--top .header__logo {
  margin: auto;
}

.header .mobile-submenu__close {
  font-size: 40px;
  cursor: pointer;
}

.header .mobile-submenu__content--top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 20px;
  font-weight: 600;
  padding: 0 20px 20px;
}

.header .mobile-submenu__list {
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 20px 20px;
}

.header .mobile-submenu__item {
  width: calc((100% - 40px) / 2);
  margin: 0 40px 40px 0;
}

.header .mobile-submenu__item:nth-child(2n) {
  margin-right: 0;
}

.header .mobile-submenu__item:nth-last-child(-n+2) {
  margin-bottom: 0;
}

.header .mobile-submenu__item--top {
  background-color: #f8f7f4;
  padding: 20px;
  margin-bottom: 20px;
}

.header .mobile-submenu__item--bottom a {
  text-align: center;
  max-width: 450px;
  width: 100%;
  color: #000000;
  padding: 5px;
  border: 1px solid #000;
  font-size: 14px;
}

.header .mobile-submenu__all-brands {
  padding: 20px;
}

.header .mobile-submenu__all-brands a {
  font-size: 20px;
  color: #000;
  font-weight: 600;
}

.header .show-menu {
  visibility: visible;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  height: 100vh;
  opacity: 1;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.header .show-menu .mobile-menu__header {
  visibility: visible;
  opacity: 1;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.header .show-menu .mobile-menu__list {
  visibility: visible;
  opacity: 1;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.header .show-menu .mobile-submenu__list {
  opacity: 1;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.header .show-menu .mobile-menu__footer {
  visibility: visible;
  opacity: 1;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.hero .swiper-slide .hero__offer {
  border: none;
}

.hero .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #ffffff;
  opacity: 37%;
  margin: 0 6px !important;
}

.hero .swiper-pagination-bullet-active {
  opacity: 1;
}

.hero .swiper-button-prev,
.hero .swiper-button-next {
  color: #ffffff;
}

.hero__block {
  position: absolute;
  top: 30px;
  left: 30px;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero__title,
.hero__offer {
  padding: 10px 15px;
}

.hero__title {
  position: relative;
  max-width: 250px;
}

.hero__title h1 {
  color: #ffffff;
}

.hero__title h1 span {
  font-weight: 200;
}

.hero__title .circle-1,
.hero__title .circle-2,
.hero__title .circle-3 {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  border-radius: 50%;
}

.hero__title .circle-1 {
  top: 0;
  left: 0;
}

.hero__title .circle-2 {
  top: 0;
  left: 15px;
}

.hero__title .circle-3 {
  top: 15px;
  left: 0;
}

.hero__offer {
  display: none;
  position: relative;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 15px;
  border: 1px solid #000000;
  margin: 15px;
}

.hero__offer.mobile {
  display: block;
  position: relative;
}

.hero__offer--title {
  display: inline-block;
  position: relative;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  background: linear-gradient(175deg, #c3a79a 0%, #737c84 23%, #c31a44 47%, #0098b7 69%, #a2abb4 81%, #1b1b1b 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero__offer--title::after {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(175deg, #c3a79a 0%, #737c84 23%, #c31a44 47%, #0098b7 69%, #a2abb4 81%, #1b1b1b 100%);
}

.hero__offer--description {
  max-width: 200px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.hero__offer--ask {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 20px;
}

.hero__offer--links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__offer--link {
  max-width: 235px;
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 50px;
  margin-right: 10px;
  padding: 0 10px;
}

.hero__offer--link:nth-child(1) {
  background-color: #EDC867;
  color: #ffffff;
  border: 1px solid #EDC867;
}

.hero__offer--link:nth-child(1):hover {
  background-color: #ffffff;
  color: #878787;
  border: 1px solid #878787;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.hero__offer--link:nth-child(2) {
  background-color: #ffffff;
  color: #878787;
  border: 1px solid #878787;
  margin-right: 0;
}

.hero__offer--link:nth-child(2):hover {
  background-color: #EDC867;
  color: #ffffff;
  border: 1px solid #EDC867;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.hero__offer--star {
  display: inline-block;
  position: absolute;
  right: 25px;
  top: 0;
  left: auto;
}

.hero__offer--star img {
  min-height: unset !important;
  margin: 0;
}

.hero__offer--micro {
  display: inline-block;
  position: absolute;
  right: 0;
  top: -20px;
  left: auto;
}

.hero__offer--micro img {
  min-height: unset !important;
  margin: 0;
  width: 90px;
}

.popular-categories {
  padding-top: 70px;
}

.popular-categories h2 {
  max-width: 200px;
  margin: 0 auto 30px;
}

.popular-categories__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.popular-categories__item {
  width: 50%;
  height: 350px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 20px;
  -webkit-transition: background-image 0.3s ease;
  transition: background-image 0.3s ease;
}

.popular-categories__item p {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  max-width: 400px;
}

.why {
  position: relative;
}

.why__left {
  padding: 70px 20px;
}

.why__left h2 {
  margin-bottom: 30px;
}

.why__right {
  height: 350px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.why__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.why__item {
  width: calc((100% - 40px) / 2);
  margin: 10px;
  text-align: center;
}

.why__item p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 15px;
}

.why__item p span {
  font-weight: 700;
}

.why__watermark {
  display: none;
}

.offer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 30px 20px;
  text-align: center;
}

.offer__overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7)));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  z-index: 0;
}

.offer h2 {
  position: relative;
  color: #ffffff;
  margin-bottom: 30px;
  text-align: left;
  z-index: 1;
  max-width: 300px;
}

.offer a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 1;
  padding: 15px;
  text-transform: uppercase;
  background-color: #EDC867;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  border-radius: 50px;
  border: 1px solid #EDC867;
  max-width: 200px;
  width: 100%;
}

.offer a:hover {
  background-color: unset;
  color: #ffffff;
  border: 1px solid #ffffff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.our-projects {
  position: relative;
  z-index: 2;
  padding: 70px 400px 0;
  text-align: center;
}

.our-projects h2 {
  margin-bottom: 30px;
}

.our-projects__list {
  list-style: none;
}

.our-projects__item {
  position: relative;
  overflow: hidden;
}

.our-projects__item:not(:last-child) {
  margin-bottom: 30px;
}

.our-projects__item img {
  -webkit-transition: -webkit-transform 0.7s ease;
  transition: -webkit-transform 0.7s ease;
  transition: transform 0.7s ease;
  transition: transform 0.7s ease, -webkit-transform 0.7s ease;
}

.our-projects__item:hover img {
  -webkit-transform: scale(1.11);
      -ms-transform: scale(1.11);
          transform: scale(1.11);
}

.our-projects__item--description {
  font-size: 16px;
  color: #ffffff;
  font-weight: 700;
  position: absolute;
  bottom: 10px;
  left: 15px;
}

.our-projects__link {
  display: inline-block;
  margin: 30px auto 0;
  padding: 15px 70px;
  border: 1px solid #292929;
  text-align: center;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.our-projects__link:hover {
  background-color: #EDC867;
  border: 1px solid #EDC867;
  color: #ffffff;
}

.offer-bottom {
  position: relative;
  display: block;
  margin-top: 70px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 70px 20px 20px;
}

.offer-bottom__watermark {
  display: none;
}

.offer-bottom h2 {
  position: relative;
  color: #ffffff;
  text-align: left;
  margin-bottom: 10px;
  z-index: 2;
  max-width: 190px;
}

.offer-bottom p {
  position: relative;
  font-size: 16px;
  font-weight: 700;
  text-align: left;
  margin-bottom: 20px;
  color: #ffffff;
  max-width: 190px;
}

.offer-bottom a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px;
  text-transform: uppercase;
  background-color: #EDC867;
  color: #ffffff;
  border: 1px solid #EDC867;
  font-size: 16px;
  font-weight: 700;
  border-radius: 50px;
  max-width: 200px;
  width: 100%;
}

.offer-bottom a:hover {
  background-color: unset;
  border-color: #ffffff;
}

.offer-bottom svg {
  position: absolute;
  top: 0;
}

.svg-big {
  display: none;
}

.footer {
  position: relative;
  z-index: 2;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 30px 20px 70px;
  color: #ffffff;
}

.footer a {
  color: #ffffff;
}

.footer__logo {
  margin-bottom: 20px;
}

.footer__copyright {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 0;
  top: auto;
  font-weight: 200;
  opacity: 37%;
}

.footer__catalog,
.footer__navigation,
.footer__contacts {
  margin-bottom: 20px;
}

.footer__catalog--title,
.footer__navigation--title,
.footer__contacts--title {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 700;
}

.footer__catalog--list,
.footer__navigation--list,
.footer__contacts--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__catalog--item,
.footer__navigation--item,
.footer__contacts--item {
  font-weight: 200;
}

.footer__catalog--item:not(:last-child),
.footer__navigation--item:not(:last-child),
.footer__contacts--item:not(:last-child) {
  margin-bottom: 10px;
}

.footer__contacts--bottom {
  margin-top: 20px;
}

.footer__contacts--bottom a {
  font-weight: 200;
  text-decoration: underline;
  margin-bottom: 20px;
}

.footer__contacts--cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__contacts--card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ffffff;
  border-radius: 5px;
  width: 35px;
  height: 25px;
}

.footer__contacts--card:not(:last-child) {
  margin-right: 10px;
}

.content {
  position: relative;
  z-index: 10;
}

.content__container {
  text-align: center;
}

.content__container p {
  text-transform: uppercase;
  margin-bottom: 25px;
  color: #292929;
}

.content__container p span {
  font-weight: 700;
}

.content__container a {
  padding: 15px 50px;
  text-transform: uppercase;
  background-color: #EDC867;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  border-radius: 50px;
}

.breadcrumbs__container {
  padding-top: 30px;
}

.breadcrumbs__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.breadcrumbs__item:not(:last-child) {
  margin-right: 5px;
}

.breadcrumbs__item.active {
  font-weight: 700;
}

.faq h1 {
  margin: 20px 0 25px;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #292929;
}

.faq__item {
  margin-bottom: 20px;
}

.faq__item.active .faq__answer {
  max-height: 500px;
  opacity: 1;
  -webkit-transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.faq__item.active .faq__arrow {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.faq__question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  color: #333;
  border-bottom: 1px solid #5B473A;
  padding-bottom: 20px;
}

.faq__answer {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  margin-top: 10px;
  color: #666;
  -webkit-transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.faq__arrow {
  width: 20px;
  height: 12px;
  margin-left: 30px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.contacts h1 {
  margin: 20px 0 25px;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #292929;
}

.contacts__block {
  margin-bottom: 30px;
}

.contacts__left {
  max-width: 405px;
  width: 100%;
}

.contacts__right {
  padding: 15px 30px;
  position: relative;
  max-width: 1185px;
  width: 100%;
  height: 342px;
  background-repeat: no-repeat;
  background-position: center;
}

.contacts__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contacts__list a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #292929;
  margin-bottom: 20px;
}

.contacts__list a svg {
  margin-right: 5px;
}

.contacts__callback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #EDC867;
  border-radius: 50px;
  border: 1px solid #EDC867;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  height: 45px;
  width: 255px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.contacts__callback:hover {
  background-color: unset;
  color: #292929;
}

.contacts__dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #ffffff;
  border-radius: 50px;
  border: 1px solid #ffffff;
  color: #292929;
  font-weight: 700;
  height: 45px;
  width: 150px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding: 0 20px 0 10px;
}

.contacts__dropdown img {
  margin: 0;
}

.contacts__pin {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.contacts__offer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
}

.contacts__offer--overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
}

.contacts__offer--title {
  font-size: 20px;
  font-weight: 700;
  max-width: 270px;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #ffffff;
}

.contacts__offer--description {
  color: #ffffff;
  max-width: 175px;
  font-weight: 100;
}

.contacts__offer--left,
.contacts__offer--right {
  width: 100%;
}

.contacts__offer--left {
  margin-bottom: 20px;
}

.contacts__offer--form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 350px;
  width: 100%;
}

.contacts__offer--form input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 350px;
  width: 100%;
  height: 50px;
  margin-bottom: 15px;
  border-radius: 50px;
  border: 1px solid #ffffff;
  padding: 15px 50px 15px 20px;
  text-transform: uppercase;
}

.contacts__offer--submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-transform: uppercase;
  background-color: #EDC867;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  border-radius: 50px;
  border: 1px solid #EDC867;
  max-width: 350px;
  width: 100%;
}

.contacts__offer--submit:hover {
  cursor: pointer;
  background-color: unset;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.up {
  display: none;
  position: fixed;
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
  right: 20px;
  bottom: 0;
  width: 45px;
  height: 120px;
  border-radius: 50px 50px 0 0;
  border: 1px solid #EDC867;
  color: #EDC867;
  z-index: 1000;
  border-bottom: none;
  text-transform: uppercase;
  -webkit-transition: border-color 0.3s ease, -webkit-box-shadow 0.3s ease;
  transition: border-color 0.3s ease, -webkit-box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease, border-color 0.3s ease;
  transition: box-shadow 0.3s ease, border-color 0.3s ease, -webkit-box-shadow 0.3s ease;
}

.up:hover {
  -webkit-box-shadow: 0 0 10px #EDC867;
          box-shadow: 0 0 10px #EDC867;
  border-color: #F0E68C;
}

.up__block {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.up__text {
  rotate: 90deg;
}

.bc-popup-btn {
  position: fixed;
  z-index: 1000;
  left: 50px;
  bottom: 50px;
  width: 85px;
  height: 85px;
  background: #EDC867;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
  -webkit-animation: uptocallmini 1.5s 0s ease-out infinite;
          animation: uptocallmini 1.5s 0s ease-out infinite;
  border-radius: 50%;
}

.bc-popup-btn:hover {
  -webkit-transition: All 0.5s ease;
  transition: All 0.5s ease;
}

.bc-popup-btn:hover:after {
  position: absolute;
  content: attr(data-title);
  top: -110%;
  right: -15px;
  width: 105px;
  background: #EDC867;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  opacity: 0.8;
  line-height: 20px;
}

.bc-popup-btn:hover img {
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}

.bc-popup-btn img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  -webkit-transform: rotate(-70deg);
      -ms-transform: rotate(-70deg);
          transform: rotate(-70deg);
}

@-webkit-keyframes uptocallmini {
  0% {
    -webkit-box-shadow: 0 0 8px 6px transparent 0 0 0 0 transparent, 0 0 0 0 transparent;
            box-shadow: 0 0 8px 6px transparent 0 0 0 0 transparent, 0 0 0 0 transparent;
  }

  10% {
    -webkit-box-shadow: 0 0 8px 6px #EDC867, 0 0 12px 10px transparent, 0 0 12px 14px #EDC867;
            box-shadow: 0 0 8px 6px #EDC867, 0 0 12px 10px transparent, 0 0 12px 14px #EDC867;
  }

  100% {
    -webkit-box-shadow: 0 0 8px 6px transparent, 0 0 0 40px transparent, 0 0 0 40px transparent;
            box-shadow: 0 0 8px 6px transparent, 0 0 0 40px transparent, 0 0 0 40px transparent;
  }
}

@keyframes uptocallmini {
  0% {
    -webkit-box-shadow: 0 0 8px 6px transparent 0 0 0 0 transparent, 0 0 0 0 transparent;
            box-shadow: 0 0 8px 6px transparent 0 0 0 0 transparent, 0 0 0 0 transparent;
  }

  10% {
    -webkit-box-shadow: 0 0 8px 6px #EDC867, 0 0 12px 10px transparent, 0 0 12px 14px #EDC867;
            box-shadow: 0 0 8px 6px #EDC867, 0 0 12px 10px transparent, 0 0 12px 14px #EDC867;
  }

  100% {
    -webkit-box-shadow: 0 0 8px 6px transparent, 0 0 0 40px transparent, 0 0 0 40px transparent;
            box-shadow: 0 0 8px 6px transparent, 0 0 0 40px transparent, 0 0 0 40px transparent;
  }
}

@media screen and (min-width: 360px) {
  .popular-categories__item p {
    font-size: 14px;
  }
}

@media screen and (min-width: 425px) {
  .popular-categories__item p {
    font-size: 16px;
  }
}

@media screen and (min-width: 768px) {
  .hero__block {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    left: 150px;
  }

  .popular-categories__item {
    width: 50%;
    height: 760px;
  }

  .popular-categories__item p {
    font-size: 20px;
  }

  .why__right {
    height: 800px;
  }
}

@media screen and (min-width: 900px) {
  [class*=__container] {
    padding: 0 20px;
  }

  .breadcrumbs__container {
    padding-top: 30px;
  }
}

@media screen and (min-width: 1024px) {
  .header .mobile-menu__footer a {
    font-size: 20px;
  }

  .header .mobile-menu__footer p {
    font-size: 20px;
  }
}

@media screen and (min-width: 1200px) {
  main {
    padding-top: 0;
  }

  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 45px;
  }

  .header__mobile {
    display: none;
  }

  .header__info--menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .header__main--top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .header__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 40%;
  }

  .header__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 40%;
  }

  .header__logo {
    width: 20%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .header__menu {
    background-color: #2D2D2D;
    background-repeat: no-repeat;
  }

  .header__menu ul {
    position: relative;
    list-style: none;
    height: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
  }

  .header__menu > ul > li:hover .header__submenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .header__desktop {
    display: block;
  }

  .header__desktop.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
  }

  .header__desktop.sticky .header__info {
    visibility: hidden;
    opacity: 0;
    padding: 0;
    height: 0;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
  }

  .hero .swiper-pagination {
    text-align: left;
  }

  .hero .swiper-pagination-bullets {
    left: 165px;
    bottom: 70px;
  }

  .hero .swiper-pagination-bullet {
    width: 13px;
    height: 13px;
  }

  .hero .swiper-button-prev {
    left: 75px;
  }

  .hero .swiper-button-next {
    right: 75px;
  }

  .hero__title,
  .hero__offer {
    padding: 15px 20px;
  }

  .hero__title {
    margin-bottom: 45px;
    max-width: 715px;
  }

  .hero__title h1 {
    font-size: 20px;
  }

  .hero__title .circle-1,
  .hero__title .circle-2,
  .hero__title .circle-3 {
    width: 13px;
    height: 13px;
  }

  .hero__title .circle-2 {
    left: 25px;
  }

  .hero__title .circle-3 {
    top: 25px;
  }

  .hero__offer {
    display: block;
    max-width: 540px;
    width: 100%;
    margin: 0;
  }

  .hero__offer.mobile {
    display: none;
  }

  .hero__offer--title {
    font-size: 30px;
  }

  .hero__offer--description {
    font-size: 20px;
    max-width: unset;
  }

  .hero__offer--link {
    font-size: 16px;
    margin-right: 30px;
    margin-bottom: 0;
  }

  .hero__offer--star {
    right: 75px;
    top: 10px;
  }

  .hero__offer--micro {
    top: -30px;
  }

  .hero__offer--micro img {
    width: 156px;
  }

  .popular-categories h2 {
    max-width: 490px;
  }

  .popular-categories__item {
    width: calc((100% - 0px) / 4);
    padding: 90px 40px;
  }

  .popular-categories__item p {
    font-size: 35px;
  }

  .why {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .why__left {
    width: 60%;
    padding: 70px 165px 165px;
  }

  .why__left h2 {
    max-width: 415px;
    text-align: left;
  }

  .why__right {
    width: 40%;
    height: auto;
  }

  .why__item {
    width: calc((100% - 210px) / 3);
    margin: 0 105px 40px 0;
    text-align: left;
  }

  .why__item:nth-child(3n) {
    margin-right: 0;
  }

  .why__item:nth-last-child(-n+3) {
    margin-bottom: 0;
  }

  .why__item p {
    font-size: 20px;
  }

  .why__watermark {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    text-transform: uppercase;
    font-size: 110px;
    font-weight: 900;
    color: #292929;
    opacity: 3%;
    line-height: 0.7;
  }

  .offer__overlay {
    background: unset;
  }

  .offer h2 {
    max-width: 550px;
    text-align: left;
  }

  .offer a {
    padding: 15px 60px;
    max-width: 270px;
  }

  .our-projects__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .our-projects__item {
    width: calc((100% - 30px) / 2);
    margin: 0 30px 30px 0;
  }

  .our-projects__item:nth-child(2n) {
    margin-right: 0;
  }

  .our-projects__item:nth-last-child(-n+2) {
    margin-bottom: 0;
  }

  .our-projects__item--description {
    font-size: 20px;
    bottom: 25px;
    left: 30px;
  }

  .offer-bottom {
    height: 500px;
    padding: 160px 20px 65px;
    text-align: left;
  }

  .offer-bottom__watermark {
    display: block;
    position: absolute;
    left: 0;
    top: 25px;
    text-transform: uppercase;
    font-size: 110px;
    font-weight: 900;
    color: #292929;
    opacity: 3%;
    line-height: 0.7;
  }

  .offer-bottom h2 {
    margin-bottom: 30px;
    max-width: 550px;
  }

  .offer-bottom p {
    font-size: 20px;
    max-width: 265px;
    margin-bottom: 30px;
  }

  .offer-bottom a {
    padding: 15px 60px;
    max-width: 270px;
  }

  .svg-big {
    display: block;
    position: absolute;
    bottom: 310px;
    right: 0;
  }

  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 70px 165px;
    text-align: left;
  }

  .footer__left,
  .footer__right {
    width: 50%;
  }

  .footer__copyright {
    font-size: 16px;
    position: relative;
    bottom: 0;
    left: 0;
  }

  .footer__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .footer__catalog,
  .footer__navigation,
  .footer__contacts {
    margin-bottom: 0;
  }

  .footer__catalog--title,
  .footer__navigation--title,
  .footer__contacts--title {
    font-size: 20px;
  }

  .content__container p {
    font-size: 20px;
  }

  .breadcrumbs__container {
    max-width: 1590px;
    margin: 0 auto;
  }

  .faq__container {
    max-width: 1590px;
    margin: 0 auto;
  }

  .faq h1 {
    font-size: 45px;
  }

  .faq__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }

  .faq__item {
    margin-bottom: 0;
    width: calc(50% - 15px);
  }

  .faq__question {
    font-size: 25px;
  }

  .faq__answer {
    font-size: 18px;
  }

  .contacts__container {
    max-width: 1590px;
    margin: 0 auto;
  }

  .contacts h1 {
    font-size: 45px;
  }

  .contacts__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .contacts__offer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 30px 70px;
  }

  .contacts__offer--title {
    font-size: 30px;
  }

  .contacts__offer--left {
    margin-bottom: 0;
  }

  .contacts__offer--right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media screen and (min-width: 1440px) {
  .hero__block {
    left: 400px;
    top: 80px;
  }

  .hero__title h1 {
    font-size: 40px;
  }

  .offer {
    height: 450px;
    padding: 70px 400px;
    text-align: left;
    background-position: unset;
    height: 335px;
  }

  .offer-bottom {
    padding: 160px 400px 0;
  }

  .svg-big {
    right: 50px;
  }
}

@media screen and (min-width: 1600px) {
  .svg-big {
    right: 300px;
  }
}

@media screen and (min-width: 1920px) {
  .hero__title h1 {
    font-size: 60px;
  }
}

@media screen and (min-width: 1921px) {
  .our-projects__item img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media screen and (max-width: 1200px) {
  .our-projects {
    padding: 70px 20px 0;
  }
}